                       
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  padding: 10px;
}

header{
  font-family: 'Russo One', sans-serif;
  background-color: rgb(46, 64, 99);
  background-image:url(img/vecteezy_modern-city-skyline-vector-illustration_8216001.jpg);
  background-blend-mode: multiply;
  font-size: 230%;
  text-align: center;
  color: white;
  padding: 35px;
}

body {
  background-color: #ddd;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Style the footer */
footer {
  background-color: black;
  text-align: center;
  color: white;
  height: 100px;
  padding: 30px;
  margin-top: auto;
}

summary{
  padding-left: 10px;
  font-style: oblique;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* Style the content */
.content {
  font-size: 20px;
  padding: 20px;
}

.nested {
  padding-left: 20px;
}

h2{
  cursor: default;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}


.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  

.dropdown-content a:hover {
    background-color: #ddd;
}
  

.dropdown:hover .dropdown-content {
    display: block;
}
  

.Window {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  padding: 10px;
  border-style: groove;
  border-color: black;
  width: 300px;
}

 details.window{
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  padding: 10px;
  border-style:groove;
  border-color: black;
  width:450px;
  transition: width 0.3s ease;
} 
details[open] {
  max-width: 100%;
  width: 1200px;
  padding-right: 50px
}

details {
  cursor: default;
}


.product {
  color: white;
  background: linear-gradient(to right, #435b6e 60%, transparent 50%), url(img/Screenshot\ \(137\).png);
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 20px;
}
.product1 {
  color: white;
  background: linear-gradient(to right, #435b6e 60%, transparent 50%), url(img/craiyon_095147_Futuristic_skyscapers_heights_background.png);
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 20px;
}

/* Style buttons */
.btn {
  background-color: #333; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  text-decoration: none;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #423e47;
}

/*Stylish download button*/
.info {
  margin: 5px;
  border-radius: 70px;
  padding-left: 30px;
  padding-right: 30px;
  float: right;
  border-color: #2196F3;
  color: white
}

.info:hover {
  background: #2196F3;
  color: white;
}

.unavailable{
  margin: 5px;
  border-radius: 70px;
  padding-left: 30px;
  padding-right: 30px;
  float: right;
  border-color: #2196F3;
  color: rgb(84, 81, 90);
  cursor: default;
}

.unavailable:hover {
  background-color: #333;
}

header {
  cursor: default;
}
